<div class="container">
  <h1>{{title}}</h1>
  
  <div class="card">
    <div class="card-header">
      <button (click)="toSpanish()" class="btn btn-success">Pasar a español</button>
  <button (click)="toEnglish()" class="btn btn-primary">Pasar a ingles</button>
    </div>
    <div class="card-body">
      my appp
      {{(dato$| async)}}
    </div>
    <div *ngIf="(loading$|async)" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <button (click)="stopLoading()" >dejar de cargar</button>
    <span class="card" *ngFor="let hero of (heroes$|async)">{{hero.id}}</span>
  </div>
</div>